{% extends 'base.html' %}
{% load static %}
{% load blog_extras %}
{% load diary_extras %}
















              {% block coverflow %}
  
              <div class="showBox"> 
                <div class="current">
                  <div class="detail-page" post-id="5457" style="background-image: url(https://dsm.panda-studio.cn:82/aliyun-wordpress/uploads/sites/7/2019/09/node_and_gutenberg_header.png);">
                    <div class="container flex-row-middle coverflow1">
                      <div class="detail-content flex-column-middle">
                        <div class="category">附加 · 留言板</div>
                        <h1>请诸位畅所欲言</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

         
              {% endblock coverflow %} 

















          {% block main %}
 
            <div class="col-xs-12" style="min-height: 800px">
              <div class="row postLists">
                





                <div class="toggle_sidebar" @click="this.single_toggle_sidebar()" data-toggle="tooltip" data-placement="auto top" title="" data-original-title="切换边栏">
                  <i class="fas fa-angle-right"></i>
                </div>



                <div id="comments">
                  <div class="post-model">
                    <i class="far fa-comment-alt"></i>{{ postboards.count }}条留言</div>

                  <!-- 评论列表 -->
                  <div id="comments-list" class="comments">
                    <ol class="commentlist">
                      {% for postboard in postboards %}
                          <li class="comment even thread-even depth-1" id="comment-2570">
                            <div id="div-comment-2570" class="comment-body clearfix">
                              <img alt="" src="{% static 'blog/img/comments/boy-03.png' %}" class="avatar avatar-32 photo" height="32" width="32">
                              <div class="comment-author vcard">
                                <div class="meta">
                                  <span class="name">{{ postboard.name }}</span>
                                  <span class="date">{{ postboard.created_time }}</span></div>
                                <div class="comment-text">
                                  <p>        {{ postboard.text|linebreaks }}</p>
                                </div>
                                <div class="reply">
                                  <div class="comment-reply-link-wrap" data-original-title="回复">
                                    <a class="comment-reply-link">
                                      <svg class="bi bi-reply-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" style="transform: rotateY(180deg);">
                                        <path d="M9.079 11.9l4.568-3.281a.719.719 0 000-1.238L9.079 4.1A.716.716 0 008 4.719V6c-1.5 0-6 0-7 8 2.5-4.5 7-4 7-4v1.281c0 .56.606.898 1.079.62z"></path>
                                      </svg>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                      {% empty %}
                        留言板暂无内容
                      {% endfor %}
                    </ol>
<!--                     <div id="commentnavi">
                      <a class="prev page-numbers" href="#">« 上一页</a>
                      <a class="page-numbers" href="#">1</a>
                      <span class="page-numbers dots">…</span>
                      <a class="page-numbers" href="#">3</a>
                      <a class="page-numbers" href="#">4</a>
                      <span aria-current="page" class="page-numbers current">5</span>
                    </div> -->
                  </div>
                  <!-- 评论输入框 -->
                  <div id="respond" class="comment-respond clearfix">





                        {{ form.name.errors }}
                        {{ form.email.errors }}
                        {{ form.url.errors }}
                        {{ form.text.errors }}
                    <form  action="{% url 'comments:postBorad'%}"  method="post" id="cmt_form" class="comment-form clear-float" >
                        {% csrf_token %}
                        <div class="comment-form-comment">
                            {{ form.text }}
                        </div>

                        <p class="form-meta" id="form_data">
                          <label>
                             <svg class="bi bi-person-bounding-box" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
                                  </svg>
                                   {{ form.name }}
                          </label>
                              <label>
                             <svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"></path>
                                    <path fill-rule="evenodd" d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"></path>
                                    <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z"></path>
                                  </svg>
                                  {{ form.email }}
                              </label>
                                <label>
                                  <svg class="bi bi-geo" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 4a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                    <path d="M7.5 4h1v9a.5.5 0 01-1 0V4z"></path>
                                    <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 01-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 11.212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 01.595.383z" clip-rule="evenodd"></path>
                                  </svg>
                                  {{ form.url }}
                                </label>

                        </p>
                        <p class="form-submit">
                            <button type="submit" class="submit-comment">提交评论</button>

                        </p>
                    </form>
                  




                  </div>
                  

                </div>


              </div>
            </div>


          {% endblock main %}    

















          {% block toc %}






            <div id ="sidebar1" class="sidebar sidebar-affix affix-top" style="">
             <div manual-template="sidebarMenu">
              <div pandatab="" class="sidebarMenu" active-class=".active" sub-trigger="click" sub-class=".sub-menu">
                <ul class="menu"> 
                   <li class="anchor" style="position: absolute; left: 1px; width: 38px; opacity: 1;"></li> 
                   <li id="menu-id1" class="active"> <a class="about-me-2" data-original-title="关于我"> 
                    <svg class="bi bi-person-fill " width="1.3em" height="1.3em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
                    </svg>
                  </a> </li> 
                   <li id="menu-id2" > <a class="tuijian-2" data-toggle="tooltip"  data-placement="auto top" data-original-title="文章推荐"> 
                    <svg class="bi bi-gem " width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M3.1.7a.5.5 0 01.4-.2h9a.5.5 0 01.4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 01-.8 0L.1 5.3a.5.5 0 010-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z" clip-rule="evenodd"></path>
                    </svg>
                  </a> </li> 
                  </ul> 
              </div>
             </div>

             <!-- 下面这个div 的 height 的数值是自动变化的 -->

             <div id="auto-height-0" manual-template="sidebar" style="overflow: hidden;"> 
              <div class="custom-scrollbar-wrapper" style="position: relative;">

              <!-- 下面这个div 的 height 的数值是自动变化的 -->

               <div id="auto-height-1" class="custom-scrollbar-content-wrapper" style="overflow: auto; width: 150%; position: relative;">
                <div class="custom-scrollbar-content" style="">
                 <aside id="sidebar-1" class="sidebar" style="">
                  <ul class="widget-list">
                   <li class="widget pf_user_info"> 
                       <div class="authorImg" style="background-image: url({% static 'blog/img/head_img.jpg' %});"></div> 
                       <div class="meta"> 
                        <div class="name">
                         Asa
                        </div> 
                        <div class="description">
                          独属于我自己的个人小屋
                        </div> 
                       </div> </li>
                       <li id="pf_tag_cloud-widget-2" class="widget pf_tag_cloud"> <h2 class="widgettitle">关注我</h2> 
                         <ul class="link"> 
                          <li> <a href="#" target="_blank">
                            <svg class="bi bi-eye" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 001.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0014.828 8a13.133 13.133 0 00-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 001.172 8z" clip-rule="evenodd"></path>
                              <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 100 5 2.5 2.5 0 000-5zM4.5 8a3.5 3.5 0 117 0 3.5 3.5 0 01-7 0z" clip-rule="evenodd"></path>
                            </svg>
                            新浪微博</a> </li> 
                          <li> <a href="#" target="_self">
                            <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z" clip-rule="evenodd"></path>
                              <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z" clip-rule="evenodd"></path>
                            </svg>
                            微信公众号</a> 
                          </li> 
                          <li> <a href="./link.html" target="_self">
                            <svg class="bi bi-link-45deg" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                              <path d="M4.715 6.542L3.343 7.914a3 3 0 104.243 4.243l1.828-1.829A3 3 0 008.586 5.5L8 6.086a1.001 1.001 0 00-.154.199 2 2 0 01.861 3.337L6.88 11.45a2 2 0 11-2.83-2.83l.793-.792a4.018 4.018 0 01-.128-1.287z"></path>
                              <path d="M5.712 6.96l.167-.167a1.99 1.99 0 01.896-.518 1.99 1.99 0 01.518-.896l.167-.167A3.004 3.004 0 006 5.499c-.22.46-.316.963-.288 1.46z"></path>
                              <path d="M6.586 4.672A3 3 0 007.414 9.5l.775-.776a2 2 0 01-.896-3.346L9.12 3.55a2 2 0 012.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 00-4.243-4.243L6.586 4.672z"></path>
                              <path d="M10 9.5a2.99 2.99 0 00.288-1.46l-.167.167a1.99 1.99 0 01-.896.518 1.99 1.99 0 01-.518.896l-.167.167A3.004 3.004 0 0010 9.501z"></path>
                            </svg>
                            友情链接</a> 
                          </li> 
                         </ul> </li> 

                      <li id="pf_tag_cloud-widget-3" class="widget pf_tag_cloud"> <h2 class="widgettitle">My Tags</h2> 
                          {% show_tags %}

                     </li> 
                     
                      <li id="pf_tag_cloud-widget-4" class="widget pf_tag_cloud"> <h2 class="widgettitle">导航</h2> 

                    {% show_categories %}
                      </li>
                   <li id="pf_microblog-widget-2" class="widget pf_microblog"><h2 class="widgettitle">轻博客</h2>
                        
                  {% show_diarys %}



                   </li>
                  </ul>
                 </aside>
                 <aside id="sidebar-2" class="sidebar" style="display: none;">
                  <ul class="widget-list">
                    <li id="pf_hotposts-widget-2" class="widget pf_hotposts"><h2 class="widgettitle">大家喜欢</h2>
                        {% show_most_likes %}
                    </li>
                    <li id="pf_hotposts-widget-3" class="widget pf_hotposts"><h2 class="widgettitle">最多评论</h2>
                        {% show_most_time_comments %}
                    </li>
                  </ul>
                 </aside>
                </div>
               </div>
               <div class="custom-scrollbar-track" style="width: 6px; background-color: transparent; position: absolute; top: 0px; height: 100%; display: block; right: 0px;">
                <div class="scrollBar-background ui-draggable ui-draggable-handle" style="width: 6px; background-color: rgba(31, 45, 61, 0.2); position: absolute; right: 0px; height: 382.939px; top: 0px;"></div>
               </div>
              </div>
             </div>
            </div>


          {% endblock toc %}  
















          

          {% block other %}



      <div id="popover_guests" class="popover fade top in hidden" style="">
        <div class="arrow" style="left: 50%;"></div>
        <h3 class="popover-title">* 昵称与邮箱为必填项</h3>
        <div class="popover-content">
          <div class="popover_guests">
            <p>
            <label>
              <svg class="bi bi-person-bounding-box" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.5 1a.5.5 0 00-.5.5v3a.5.5 0 01-1 0v-3A1.5 1.5 0 011.5 0h3a.5.5 0 010 1h-3zM11 .5a.5.5 0 01.5-.5h3A1.5 1.5 0 0116 1.5v3a.5.5 0 01-1 0v-3a.5.5 0 00-.5-.5h-3a.5.5 0 01-.5-.5zM.5 11a.5.5 0 01.5.5v3a.5.5 0 00.5.5h3a.5.5 0 010 1h-3A1.5 1.5 0 010 14.5v-3a.5.5 0 01.5-.5zm15 0a.5.5 0 01.5.5v3a1.5 1.5 0 01-1.5 1.5h-3a.5.5 0 010-1h3a.5.5 0 00.5-.5v-3a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
              </svg>
            </label>
            <input v-model="comment_author" class="comment-input" placeholder="昵称">
            </p>
            <p>
            <label>
              <svg class="bi bi-envelope" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z" clip-rule="evenodd"></path>
                <path fill-rule="evenodd" d="M.071 4.243a.5.5 0 01.686-.172L8 8.417l7.243-4.346a.5.5 0 01.514.858L8 9.583.243 4.93a.5.5 0 01-.172-.686z" clip-rule="evenodd"></path>
                <path d="M6.752 8.932l.432-.252-.504-.864-.432.252.504.864zm-6 3.5l6-3.5-.504-.864-6 3.5.504.864zm8.496-3.5l-.432-.252.504-.864.432.252-.504.864zm6 3.5l-6-3.5.504-.864 6 3.5-.504.864z"></path>
              </svg>
            </label>
            <input v-model="comment_email" class="comment-input" placeholder="邮箱">
            </p>
            <p>
            <label>
              <svg class="bi bi-geo" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M11 4a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path d="M7.5 4h1v9a.5.5 0 01-1 0V4z"></path>
                <path fill-rule="evenodd" d="M6.489 12.095a.5.5 0 01-.383.594c-.565.123-1.003.292-1.286.472-.302.192-.32.321-.32.339 0 .013.005.085.146.21.14.124.372.26.701.382.655.246 1.593.408 2.653.408s1.998-.162 2.653-.408c.329-.123.56-.258.701-.382.14-.125.146-.197.146-.21 0-.018-.018-.147-.32-.339-.283-.18-.721-.35-1.286-.472a.5.5 0 11.212-.977c.63.137 1.193.34 1.61.606.4.253.784.645.784 1.182 0 .402-.219.724-.483.958-.264.235-.618.423-1.013.57-.793.298-1.855.472-3.004.472s-2.21-.174-3.004-.471c-.395-.148-.749-.336-1.013-.571-.264-.234-.483-.556-.483-.958 0-.537.384-.929.783-1.182.418-.266.98-.47 1.611-.606a.5.5 0 01.595.383z" clip-rule="evenodd"></path>
              </svg>
            </label>
            <input v-model="comment_url" class="comment-input" placeholder="网站">
            </p>
          </div>
        </div>
      </div>
    
          {% endblock other %}   
